name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'

      - name: Run Tests
        run: go test -v -race ./...

      - name: Run GolangCI-Lint (Self-check)
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.58.1
          args: --go=1.22 --verbose